In [1]:
import pandas as pd

In [5]:
path = 'C:/Users/zolboy/Documents/GitHub/Machine_Learning_OpenClassrooms/Customer Segmentation/data/'
olist_customers_dataset = pd.read_csv(path + 'olist_customers_dataset.csv', sep=',')
olist_geolocation_dataset = pd.read_csv(path + 'olist_geolocation_dataset.csv', sep=',')
olist_order_items_dataset = pd.read_csv(path + 'olist_order_items_dataset.csv', sep=',')
olist_order_payments_dataset = pd.read_csv(path + 'olist_order_payments_dataset.csv', sep=',')
olist_order_reviews_dataset = pd.read_csv(path + 'olist_order_reviews_dataset.csv', sep=',')
olist_orders_dataset = pd.read_csv(path + 'olist_orders_dataset.csv', sep=',')
olist_products_dataset = pd.read_csv(path + 'olist_products_dataset.csv', sep=',')
olist_sellers_dataset = pd.read_csv(path + 'olist_sellers_dataset.csv', sep=',')
product_category_name_translation = pd.read_csv(path + 'product_category_name_translation.csv', sep=',')


All_Datasets = {'olist_customers_dataset' : olist_customers_dataset, 'olist_geolocation_dataset' : olist_geolocation_dataset, 'olist_order_items_dataset' : olist_order_items_dataset, 'olist_order_payments_dataset' : olist_order_payments_dataset, 'olist_order_reviews_dataset' : olist_order_reviews_dataset, 'olist_orders_dataset' : olist_orders_dataset, 'olist_products_dataset' : olist_products_dataset, 'olist_sellers_dataset' : olist_sellers_dataset, 'product_category_name_translation' : product_category_name_translation}

In [13]:
# Befor merge the data we need to see our connection between files csv (databases connection)
for key,value in All_Datasets.items():
    value.info()
    print('------------')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                100000 non-null  object
 1   order_id                 100000 non-null  object
 2   review_score             100000 non-null  int64
 3   review_comment_title     11715 non-null   object
 4   review_comment_message   41753 non-null   object
 5   review_creation_date     100000 non-null  object
 6   review_answer_timestamp  100000 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   seller_id               3095 non-null   object
 1   seller_zip_code_prefix  3095 non-null   int64
 2   seller_city             3095 non-null   object
 3   seller_state            3095 non-null   object
dtypes: int64(1), object(3)
memory usage: 96.8+ KB
------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
------------

In [18]:
# Now we need to merge our data

Data1 = pd.merge(olist_customers_dataset, olist_orders_dataset)
Data1 = pd.merge(Data1, olist_orders_dataset)
Data2 = pd.merge(olist_order_payments_dataset, olist_order_items_dataset)
Data2 = pd.merge(Data2, olist_order_reviews_dataset)
Data = pd.merge(Data1, Data2)
Data = pd.merge(Data, olist_products_dataset)
Data = pd.merge(Data, olist_sellers_dataset)
Data.shape

(118315, 39)

In [19]:
# Drop Duplicate Orders

Data.drop_duplicates(subset = "order_id", keep = False, inplace = True)
Data.shape

(85739, 39)

In [20]:
from datetime import datetime
from datetime import date

Data['order_delivered_customer_date'] = pd.to_datetime(Data['order_delivered_customer_date'], format='%Y-%m-%d %H:%M:%S')

In [ ]:
# Do a RFM dataframe (Recency, Frequency, Amount) + Mean Review + Main Categories

Data = Data.dropna(subset=['order_delivered_customer_date'])

Data.drop_duplicates(subset = "order_id", keep = False, inplace = True)

UniqueIndividuals = Data.customer_unique_id.unique()
    

#  Count for each individual, the number of orders, the date of the last order, the total amount spent, and the satisfaction level

print(len(UniqueIndividuals))

List = []

for i in range(len(UniqueIndividuals)):
    Blank = []
    Blank.append(UniqueIndividuals[i])
    Blank.append(Data['order_delivered_customer_date'][Data["customer_unique_id"] == UniqueIndividuals[i]].max())
    Blank.append(len(Data[Data["customer_unique_id"] == UniqueIndividuals[i]]))
    Blank.append(Data['price'][Data["customer_unique_id"] == UniqueIndividuals[i]].sum())
    Blank.append(Data['review_score'][Data["customer_unique_id"] == UniqueIndividuals[i]].mean())
    Blank.append(Data['customer_city'][Data["customer_unique_id"] == UniqueIndividuals[i]].iloc[-1])
    Blank.append(Data['customer_state'][Data["customer_unique_id"] == UniqueIndividuals[i]].iloc[-1])
    Blank.append(Data['payment_type'][Data["customer_unique_id"] == UniqueIndividuals[i]].iloc[-1])
    Blank.append(Data['product_category_name'][Data["customer_unique_id"] == UniqueIndividuals[i]].iloc[-1])
    List.append(Blank)
    if i%1000 == 0:
        print(i)
        
# Create Empty DataFrame with only Individuals and their 'customer_unique_id'

Individuals = pd.DataFrame(List, columns = ['customer_unique_id', 'Recency', 'Frequency', 'Amount', 'Mean_review_score', 'City', 'State', 'Payment_Type', 'Category'])
Individuals.head()

In [ ]:
# Import Individuals data

import pandas as pd

NewIndividuals = pd.read_csv('/content/IndividualsRFM_Categories.csv', sep=',')
NewIndividuals = NewIndividuals.iloc[:,1::]

NewIndividuals.columns = ['customer_unique_id', 'Frequency', 'Recency', 'Amount', 'Mean_review_score', 'City', 'State', 'Payment_Type', 'Category']


# Change Rencency into numeric (number of days passed since 31/12/2015)

from sklearn.decomposition import KernelPCA
from datetime import datetime
from datetime import date

NewIndividuals['Recency'] = pd.to_datetime(NewIndividuals['Recency'], format='%Y-%m-%d %H:%M:%S')

NewIndividuals['Year'] = NewIndividuals['Recency'].dt.strftime('%Y')
NewIndividuals = NewIndividuals.dropna(subset=['Year'])
NewIndividuals['Year'] = pd.to_numeric(NewIndividuals['Year'])
NewIndividuals['Year'] = NewIndividuals['Year'] - NewIndividuals['Year'].min()

NewIndividuals['Months'] = NewIndividuals['Recency'].dt.strftime('%m')
NewIndividuals = NewIndividuals.dropna(subset=['Months'])
NewIndividuals['Months'] = pd.to_numeric(NewIndividuals['Months'])

NewIndividuals['Days'] = NewIndividuals['Recency'].dt.strftime('%d')
NewIndividuals = NewIndividuals.dropna(subset=['Days'])
NewIndividuals['Days'] = pd.to_numeric(NewIndividuals['Days'])

NewIndividuals['NumRecency'] = 365*NewIndividuals['Year'] + 30*NewIndividuals['Months'] + NewIndividuals['Days']

NewIndividuals['Year'] = NewIndividuals['Recency'].dt.strftime('%Y')
NewIndividuals['Year'] = pd.to_numeric(NewIndividuals['Year'])

NewIndividuals['Months'] = NewIndividuals['Recency'].dt.strftime('%m')
NewIndividuals['Months'] = pd.to_numeric(NewIndividuals['Months'])

NewIndividuals['Days'] = NewIndividuals['Recency'].dt.strftime('%d')
NewIndividuals['Days'] = pd.to_numeric(NewIndividuals['Days'])

NewIndividuals = NewIndividuals[['customer_unique_id', 'Year', 'Months', 'Days', 'Recency', 'Frequency', 'NumRecency', 'Amount', 'Mean_review_score', 'City', 'State', 'Payment_Type', 'Category']]